.messaging tr.selected {
	background: #ddffe2;
}
.messaging td {
  padding: 6px;
}
#recipient-list {
  display: block;
  max-height: 250px;
  overflow-y: scroll;
}
#recipient-list h2 {
  color: #26487F;
}
.recipient {
  display: inline-block;
  margin: 2px;
  padding: 5px;
  background: #fff5ce;
  cursor: pointer;
}
.recipient:hover {
	background: #ffefac;
}
