.registration h1 {
	display: block;
	padding: 20px;
	color: white;
	text-align: center;
}
.reg-form {
    display: block;
    width: 700px;
		margin: 20px auto;
    padding: 30px;
    padding-bottom: 30px;
		text-align: center;
    background: #F3F3F3;
    border: 10px solid white; 
    
  -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 8px 1px #B0B0B0;
	box-shadow: inset 0 0 8px 1px #B0B0B0;
}
.reg-form p {
	width: 50%;
	margin: 0;
	margin-bottom: 10px;
	float: left;
}
.reg-form .inner-wrapper {
	display: block;
	width: 600px;
	margin: auto;
	font-size: 18px;
	clear: both;
}
.reg-form .inner-wrapper span {
	display: inline-block;
	width: 200px;
	margin: auto;
	text-align: left;
}
.reg-form input[type="submit"] {
	margin-top: 20px;
}
.reg-form hr {
	position: relative;
	top: 10px;
	border: none;
	border-top: 1px solid #bcbcbc;
	clear: both;
}
.reg-form .affiliation-list {
}
.reg-form .affiliation-list span {
  display: block;
	width: auto;
}
.reg-form .subject-list {
	margin: 10px 30px;
	padding: 10px 30px;
	background: #f5f5f5;
	border: 1px solid #D2D2D2;
}
.reg-form .subject-list h5 {
	margin: auto;
	margin-bottom: 10px;
	padding: 10px;
	text-align: center;
	color: black;
	border-bottom: 1px solid #D2D2D2;
}
.subject-list span {
	width: 200px;
}
.subject-list label {
	margin: 0;
}
/* ============================================================
  COMMON
============================================================ */
.switch {
	display: inline-block;
}
.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* ============================================================
  SWITCH 3 - YES NO
============================================================ */
input.cmn-toggle-yes-no + label {
  margin: 2px 2px 0;
  padding:0px;
  width: 220px;
  height: 60px;
}
input.cmn-toggle-yes-no + label:hover {
	opacity: .8;
}
input.cmn-toggle-yes-no + label:before, input.cmn-toggle-yes-no + label:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: #fff;
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  text-align: center;
  line-height: 60px;
}
input.cmn-toggle-yes-no + label:before {
  background-color: #79d780;
  content: attr(data-on);
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 5px;
}
input.cmn-toggle-yes-no + label:after {
  background-color: #fb9198;
  content: attr(data-off);
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  
  border-radius: 5px;
}
input.cmn-toggle-yes-no:checked + label:before {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
input.cmn-toggle-yes-no:checked + label:after {
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
  -ms-transform: rotateY(0);
  -o-transform: rotateY(0);
  transform: rotateY(0);
}
/* ============================================================
  Toggle Button
============================================================ */
/* Set-up 
<div class='toggle-button-wrapper'><div class='toggle-button'><div class='front'>Completed</div><div class='side'>Not Completed</div></div></div>
*/
toggle-button-wrapper {
	display: inline-block;
	background: #F4F6F8;
	line-height: 62px;
  -webkit-perspective: 1000px; /* <-NB */
}

/* Container box to set the sides relative to */
.toggle-button {
	width: 150px;
	text-align: center;
	margin: 0 auto;
	height: 30px;
	-webkit-transition: -webkit-transform .33s;
	transition: transform .33s; /* Animate the transform properties */
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d; /* <-NB */
}

/* The two faces of the cube */
.front,.side {
	background: rgb(247, 247, 247);
	border: 1px solid rgba(147, 184, 189, .8);
	height: 30px;
}

/* Position the faces */
.front {
	-webkit-transform: translateZ(15px);
	transform: translateZ(15px);
}

.side {
	-webkit-transform: rotateX(-90deg) translateZ(-15px);
	transform: rotateX(-90deg) translateZ(-15px);
}

/* Rotate the cube */
.toggle-button:hover {
	-webkit-transform: rotateX(89deg);
	transform: rotateX(89deg); /* Text bleed at 90Âº */
}
