/* .message */
.message {
	display: block;
	margin: 10px 0;
	padding: 15px;
	border: 1px solid;
	border-radius: 4px 4px 4px 4px;
}
.message h4 {
	margin: 0;
	padding: 0;
	font-weight: 400;
}
.message.red {
	color: #a6000f !important;
	background: #fabfc5;
	border-color: #f49c89;
}
.message.green {
	color: #4c8f49;
	background: #dff0d8;
	border-color: #aacf9b;
}


/* reporting.css */
body, html {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
	background: #EEEEEE;
	overflow: hidden;
}
h1 {
	margin: 0;
	padding: 0;
	font-size: 24px;
	font-weight: 300;
	color: #262A33;
}
h2 {
	font-size: 18px;
	font-weight: 400;
	font-family: 'Ubuntu', sans-serif;
	color: #EEEEEE;
}
#wrapper {
	height: 100%;
}

/* LEFT SIDEBAR */
.left_sidebar {
	position: relative;
	height: 100%;
	width: 4%;
	padding: 0 10px;
	float: left;
	overflow: hidden;
	background: #2E323A;
	transition: width .2s, ease;
}
.left_sidebar.open {
	width: 24%;
	transition: width 1s, ease;
}
.left_sidebar .icon-menu {
	display: block;
	position: relative;
	margin-top: 10px;
	text-align: right;
	float: right;
	z-index: 100000;
}
.left_sidebar .icon-menu img {
	opacity: .8;
	padding: 5px;
}
.left_sidebar .icon-menu img:hover {
	opacity: 1;
}
.left_sidebar h2 {
	position: relative;
	left: 5%;
}
.left_sidebar section {
	display: none;
	width: 100%;
	padding: 10px 0;
	color: #6b8baf;
	font-weight: 300;
	background: #262A33;
	transition: background .2s, ease;
}
.left_sidebar .header {
	text-align: center;
	cursor: default;
	font-weight: 700;
	border-top: 10px solid #2E323A;
	border-bottom: 1px solid #6b8baf;
}
.left_sidebar section.option {
	border-bottom: 1px solid #192129;
}
.left_sidebar section.option:hover {
	background: #2c313d;
}
.left_sidebar .bottom {
	height: 100%;
}
.invisible {
	display: none;
}
.clear {
	clear: both;
}
.green {
	color: #438a46 !important;
}
.light-green {
	color: #b4eab4 !important;
}
.red {
	color: #dd6956 !important;
}

/* Main Content Area*/
#main {
	height: 100%;
	float: left;
}

/* Edit Bar */
#main {
	display: fixed;
	height: 90%;
	margin-right: -20px;
	width: 96%;
	transition: width .2s, ease;
}
#main.shrink {
	width: 74%;
	transition: width 1s, ease;
}

#edit_bar {
	display: block;
	margin: 0;
	padding: 20px;
	background: #FFFFFF;
}
#edit_bar h1 {
	position: relative;
	left: 5%;
	text-align: left;
}
#edit_bar h1 .green {
	font-size: 36px;
	font-weight: 700;
	color: #4C902A;
}

/* Content */
#content {
	display:block;
	height: 100%;
	padding: 0 20px;
	overflow-y: scroll;
	overflow-x: hidden;
	background: #c6dee8;
}
#stats h2 {
	margin: 0;
	padding: 0;
	color: #273441;
}
#stats h2 .order {
	color: #445b73;
	font-weight: 300;
	font-size: 14px;
	cursor: pointer;
}
#stats h2 .order:hover {
	font-weight: 400;
}

#stats {
	display: inline-block;
	margin: 0;
	padding: 0;
	position: relative;
}
#stats>span {
	display: block;
	width: 100%;
	/max-width: 790px;
}
#stats .stats-mod {
	height: 75px;
	width: 250px;
	margin-right: 10px; margin-top: 5px; margin-bottom: 5px;
	float: left;
	background: #617887;
	cursor: pointer;
	transition: width .9s, ease;
}
#stats .stats-mod:hover {
	background: #596e7c;
}
#stats .stats-mod-open {
	display: block;
	width: 770px;
	margin-right: 350px;
	transition: width .9s, ease;
}
#stats .value {
	display: block;
	padding: 10px 20px 5px 20px;
	text-align: center;
	color: white;
	font-size: 28px;
}
#stats .stats-mod-open .value {
	text-align: left;
}
#stats .description {
	display: block;
	text-align: center;
	color: #ACC1CA;
}
#stats .stats-mod-open .description {
	position: relative;
	left: 20px;
	text-align: left;
}

/* Charts */
.chart-outer {
	display: block;
	width: 770px;
	margin-top: 15px;
	margin-bottom: 15px;
	background: #617887;
	border: 1px solid #617887;
	border-radius: 4px 4px 4px 4px;
}
.chart-inner {
	display: block;
	padding: 10px;
	margin: 10px;
	height: 400px;
	background: #2E323A;
	border-radius: 4px 4px 4px 4px;
}

