/* ============================================================
  *	Reporting.css
  * Author: Stephen Quenzer
  * Date Created: Aug 1, 2014
============================================================ */
.layout-half {
	width: 100%;
}
.layout-half .col-left,
.layout-half .col-right {
	display: inline-block;
	width: 47%;
	margin: 1%;
	vertical-align: top;
}
body, html {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
	background: #EEEEEE;
	overflow: hidden;
}
h1 {
	margin: 0;
	padding: 0;
	font-size: 28px;
	font-weight: 300;
	color: #262A33;
}
h2 {
	font-size: 22px;
	font-weight: 400;
	font-family: 'Ubuntu', sans-serif;
	color: #262A33;
}
h5 {
	margin: 0;
	padding: 0;
}
#wrapper {
	height: 100%;
}

/* ============================================================
  Left Sidebar
============================================================ */
.left_sidebar {
	position: relative;
	height: 100%;
	width: 4%;
	padding: 0 10px;
	float: left;
	overflow: hidden;
	background: #2E323A;
	transition: width .2s, ease;
	overflow-y: auto;
}
.left_sidebar:hover {
	background: #262930;
}
.left_sidebar.open {
	width: 24%;
	transition: width 1s, ease;
}
.left_sidebar.open {
	background: #2E323A;
}
.left_sidebar .icon-menu {
	display: block;
	position: relative;
	margin-top: 10px;
	text-align: right;
	float: right;
	z-index: 100000;
	cursor: pointer;
}
.left_sidebar .icon-menu img {
	opacity: .8;
	padding: 5px;
}
.left_sidebar .icon-menu img:hover {
	opacity: 1;
}
.left_sidebar h2 {
	position: relative;
	left: 5%;
}
.left_sidebar section {
	display: none;
	width: 100%;
	padding: 10px 0;
	color: #6b8baf;
	font-weight: 300;
	cursor: default;
	background: #262A33;
	transition: background .1s, ease;
}
.left_sidebar .header {
	padding: 15px 0;
	text-align: center;
	font-weight: 700;
	border-top: 10px solid #2E323A;
	border-bottom: 1px solid #6b8baf;
	background: #262A33 url('../images/marquee-minus') no-repeat 10px center;
	cursor: pointer;
}
.left_sidebar .header:hover {
	background-color: #1f222c;
}
.left_sidebar .header.up {
	background: #262A33 url('../images/marquee-plus') no-repeat 10px center;
}
.left_sidebar .option {
	padding: 1px 0;
	border-bottom: 1px solid #192129;
}
.left_sidebar .option:hover {
	background: #2c313d;
}
.left_sidebar .option.current {
	border-left: 5px solid #DD6956;
}
/* wildcard may cause problems */
.left_sidebar .option>* {
	display: inline-block;
	padding: 5px 15px;
}
.left_sidebar section h4 {
	display: block !important;
	text-align: left;
}
.left_sidebar .header img {
	margin-left: 10px;
	float: left;
}
.left_sidebar .option img {
	display: inline-block;
	width: 24px; height: 24px;
	float: right;
}
.left_sidebar .bottom {
	height: 100%;
}
.left_sidebar .qe {
	padding: 10px 10px 10px 16px;
}
.left_sidebar .qe h3 {
	font-weight: 300;
	color: #b1cae9;
}

/* ============================================================
  Main Content
============================================================ */
#main {
	height: 100%;
	float: left;
}

#main {
	display: fixed;
	height: 90%;
	width: 96%;
	margin-right: -20px;
	transition: width .2s, ease;
}
#main.shrink {
	width: 74%;
	transition: width 1s, ease;
}

/* ============================================================
  Header bar
============================================================ */
#edit_bar {
	display: block;
	margin: 0 !important;
	padding: 0 !important;
	background: #FFFFFF;
}
#back-btn {
	display: inline-block;
	padding: 27px;
	font-size: 24px !important;
	font-weight: 200;
	cursor: pointer;
	float: right;
	transition: .2s;
}
#back-btn:before {
	content: '< '
}
#back-btn:hover {
	background: #d7e6f9
}
#back-btn.disabled {
	padding: 32px;
	font-size: 16px !important;
	color: gray;
}
#back-btn.disabled:before {
	content: none;
}
#back-btn.disabled:hover {
	background: none;
}
#edit_bar h1 {
	display: inline-block;
	position: relative;
	padding: 20px 0;
	left: 5%;
	font-size: 24px;
	font-weight: 300;
	text-align: left;
}
#edit_bar h1 .green {
	font-size: 36px;
	font-weight: 700;
	color: #4C902A;
}

/* ============================================================
  Content
============================================================ */
.content {
	display:block;
	height: 100%;
	margin: 2px 0 15px 0;
	padding: 0px 15px;
	overflow-y: auto;
	overflow-x: hidden;
	background: #F3F3F3;
}

/* ============================================================
  Messages 
============================================================ */
.message {
	display: block;
	margin: 15px 0;
	padding: 15px;
	border: 1px solid;
	border-radius: 4px 4px 4px 4px;
}
.message h4 {
	margin: 0;
	padding: 0;
	font-weight: 400;
}
.message.red {
	color: #a6000f !important;
	background: #fabfc5;
	border-color: #f49c89;
}
.message.green {
	color: #4c8f49;
	background: #dff0d8;
	border-color: #aacf9b;
}

/* ============================================================
	This Week at a Glance (TWAG)
============================================================ */
.twag {
	display: block;
	background: #454c5a;
	overflow-y: hidden;
	overflow-x: auto;
}
.twag-header {
	position: relative;
	text-align: center;
	background: #434e66;
	border-bottom: 1px solid #2a3045;
	overflow: hidden;
}
.twag-header h2 {
	display: inline-block;
	margin: 0; 
	padding: 10px;
	text-align: center;
	font-size: 36px;
	color: #EEEEEE;
	vertical-align: middle;
	transition: ease .6s;
}
.twag-header .twag-toggle {
	position: absolute;
	right: 2%;
	top: 10px;
}
.twag-header img {
	display: inline-block;
	height: 32px;
	width: 32px;
	padding: 2px;
	vertical-align: middle;
	opacity: .7;
	transition: .1s;
}
.twag-header img:hover {
	height: 35px;
	width: 35px;
	margin-right: -3px;
	opacity: 1;
}
.twag-header .current,
.twag-header .current:hover {
	height: 40px;
	width: 40px;
	margin: 0;
	opacity: 1;
}
.twag-body {
	min-width: 700px;
	padding: 20px 0px 0 20px;
	color: #9fb2e2;
	overflow-x: hidden;
	overflow-y: auto;
}
.twag-body table {
	width: 50%;
	max-width: 600px;
	font-weight: 400;
	border-collapse: collapse;
	float: left;
}
.twag-body tr {
	text-align: right;
	border-bottom: 1px solid #C3E3EE;
	cursor: pointer;
}
.twag-body tr:hover:nth-child(n+2) {
	background: #3c424e;
}
.twag-body td:first-child, .twag-body th:first-child {
	padding-left: 20px;
	text-align: left;
}
.twag-body th {
	padding-bottom: 5px;
	font-size: 16px;
	font-weight: 400;
	color: #9fb2e2;
}
.twag-body td {
	padding: 21px 20px 21px 20px;
}
#twag-chart {
	display: block;
	position: relative;
	left: 3%;
}
.twag-footer {
	display: block;
	margin: 0; padding: 0;
	position: relative;
	background: #2E323A;
}
.twag-footer:hover {
	background: #252838;
}
.twag-footer img {
	display: block;
	margin: auto;
	padding: 5px 0;
}

/* ============================================================
	Query Table
============================================================ */
.qt .module-body {
	overflow-x: auto;
	text-align: center;
}
.qt table {
	width: 100%;
	font-size: 14px;
	border-collapse: collapse;
}
.qt tr {
	text-align: left;
	border-bottom: 1px solid #C3E3EE;
	cursor: pointer;
	background: white;
}
.qt tbody tr:hover {
	background: #edf8f9;
}
.qt tr.selected {
	background: #d8feda;
}
.qt th {
	padding: 10px 20px;
	background: beige;
	border: 3px solid white;
}
.qt td {
	padding: 10px 5px;
}
.qt .subject-listing {
	display: inline-block;
	margin-left: 5px;
	font-size: 12px;
	font-weight: 300;
	color: #28345e;
}
.qt .dark tr {
}

/* ============================================================
  Generic Modules
============================================================ */
/* Light Theme */
.module {
	display: block;
	margin: 15px 0px;
	background: #C6DEE8;
	border-radius: 2px 2px 2px 2px;
	box-shadow: 0px 0px 1px 0px rgba(1, 1, 1, .6);
}
.module .hover {
  margin-left: 10px;
  margin-right: 10px;
  padding: 20px;
  cursor: pointer;
}
.module .hover:hover {
  background: #e2eafa;
}
.module-header {
	display:block;
	padding: 0px;
	background: #F6F6F6;
}
.module-header h1, .module-header h2, .module-header h3 {
	display: inline-block;
	padding: 20px;
	margin: 0 20px;
}
.module-header h1 {
	color: #262A33;
}
.module-header h2 {
	color: #767676;
}
.module-header h3 {
	color: #767676;
	font-weight: 300;
}
.module-header.right {
	padding: 0;
}
.module-header.right .left {
	display: inline-block;
	padding: 0px 0;
	width: 60%;
}
.module-header.right .right {
	display: inline-block;
	width: 40%;
	text-align: right;
	/* vertical-align: middle; */
}
.module-body {
	display: block;
	position: relative;
	margin: 0;
	padding: 10px 15px;
	background: #ffffff;
}
.module-body h4 {
	display: inline-block;
	margin: 10px 0 0 0;
	padding: 10px;
	text-align: center;
	color: black;
	cursor: pointer;
	opacity: .6;
}
.module-body h4:hover {
	opacity: 1;
	background: #f4aaa3;
}
.module-body h4 img {
	position: relative;
	bottom: 2px;
	margin-right: 5px;
	vertical-align: middle;
}
.module-footer {
	padding-top: 4px;
	text-align: center;
	background: #ccd1d6;
}
.module-footer:hover {
	background: #b5b9c4;
}

/* Dark Theme */
.dark .module-header {
	border-bottom: 1px solid #333B51;
	background: #434E66;
}
.dark .module-header h1 {
	color: #F6F6F6;
}
.dark .module-header h2 {
	color: #CFCFCF;
}
.dark .module-header h3 {
	color: #CFCFCF;
}
.dark .module-body {
	color: #a3baea;
	background: #454C5A;
}

/* ============================================================
  Generic Styles
============================================================ */
.invisible {
	display: none;
}
.clear {
	clear: both !important;
}
.green {
	color: #438a46 !important;
}
.light-green {
	color: #b4eab4 !important;
}
.red {
	color: #dd6956 !important;
}
/* Future developers: I don't care :) */
.center {
	text-align: center;
	margin: auto;
}

/* ============================================================
  User View (User Profile)
============================================================ */
.userView {
	border-bottom: 1px solid #333B51;
	text-align: center;
}
.userView .profile {
	display: inline-block;
	width: 96%;
	margin-right: 1%;
	margin-left: 1%;
	vertical-align: top;
	text-align: left;
	background: #434E66;
}
.userView .profile .module-header h3 {
	padding: 15px 15px 10px;
	color: #EEEEEE;
	vertical-align: middle;
}
.userView .profile h3 img {
	width: 50px;
	vertical-align: middle
}
.userView .profile .module-header h4 {
	display: inline-block;
	margin-top: 30px;
	padding: 0;
	margin-right: 20px;
	text-align: right;
	color: white;
	float: right;
	cursor: pointer;
	opacity: .6;
	transition: opacity .1s;
}
.userView .profile .module-header h4 img {
	position: relative;
	bottom: 3px;
	margin-right: 5px;
	vertical-align: middle;
}
.userView .profile .module-header h4:hover {
	color: white;
	opacity: 1 !important;
}
.userView .profile .module-body {
	text-align: left;
	padding: 0;
	color: #d9e1f4;
}
.userView .profile .left {
	display: inline-block;
	font-weight: 100;
	text-align: left;
	width: 35%;
	border-right: 1px solid #d9e1f4;
	vertical-align: top;
}
.userView .profile ul {
	color: white;
	line-height: 30px;
}
.userView .profile strong {
	color: #d9e1f4;
}
.userView .profile .right {
	display: inline-block;
	padding-left: 20px;
	width: 60%;
}
.userView .profile .right h2 {
	padding: 20px 0;
	text-align: center;
	color: #dbe1e9;
	background: #2f374c;
}
.userView .module-header {
	
}
.userView .module-body {
	padding: 10px 15px;
	text-align: left;
	color: #414141;
}

/* ============================================================
  Generic Forms
============================================================ */
form h2 {
	color: black;
	clear: both;
}
form p {
	display:  block;
	text-align: left;
}
form p.half {
	/display: inline-block;
	/width: 44%;
}
form .half input {
}
form label {
    display: block;
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    font-weight: 600;
    margin-bottom: 8px;
    color: #1f2641;
}
form input {
	width: 90%;
	height:27px;
	padding:10px;
	margin-top:3px;
	font-size: 15px;
	border:1px solid #dedede;
}
form label input {
	display: block;
}
form input[type="submit"] {
    height: inherit;
		width: 100%;
    color: #1f2641;
    background: white;
}
form input[type="submit"]:hover {
    color: white;
    background: #F07D50;
}

/* ============================================================
  Messaging
============================================================ */
.messaging {
	text-align: center;
}
.qe-wrapper {
	display: block;
	padding: 30px;
	background: #f2f7ff;
	border: 1px solid #DEDEDE;
}
.qe-wrapper .option {
	display: inline-block;
	margin: 2px;
	padding: 15px;
	background: #c5ceef;
	cursor: pointer;
	transition: background .2s;
}
.qe-wrapper .option:hover {
	background: #DD6956;
}
#qe-messaging.invisible {
	display: none !important;	
}
.messaging .module-header {
	text-align: left;
}
.messaging .module-body {
	padding: inherit 50px;
}
.messaging td {
  padding: 6px;
}
#recipient-list {
  display: block;
  max-height: 250px;
	padding: 5px;
  overflow-y: auto;
	background: #f9fbff;
	border: 1px dashed #DEDEDE;
}
#recipient-list h2 {
  color: #26487F;
}
.recipient {
  display: inline-block;
  margin: 2px;
  padding: 5px;
  background: #fff5ce;
  cursor: pointer;
	transition: padding-left .2s;
}
.recipient:hover {
	padding-left: 28px;
  background: #ffefac url('../images/cross-small.png') left no-repeat;
	background-position: 10px 0px left;
}
.messaging .wrapper {
	margin: auto;
	width: 70%;
	margin-bottom: 10px;
	padding: 20px;
}
.messaging form {
	text-align: left;
}
.messaging textarea {
	display: block;
	width: 90% !important;
	height: 200px;
	padding: 10px;
	border: 1px solid #DEDEDE;
}
/* ============================================================
  Query-engine Graphs
============================================================ */
.qg {
}
#qe-graph {
	width: 100%;
}

/* ============================================================
  Registration
============================================================ */
.registration h1 {
  display: block;
	text-align: center;
}
.reg-form {
    display: block;
    width: 700px;
		margin: 20px auto;
    padding: 30px;
    padding-bottom: 30px;
		text-align: center;
    background: #F3F3F3;
    border: 10px solid white; 
    
  -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 8px 1px #B0B0B0;
	box-shadow: inset 0 0 8px 1px #B0B0B0;
}
.reg-form p {
	width: 50%;
	margin: 0;
	margin-bottom: 10px;
	float: left;
}
.reg-form .inner-wrapper {
	display: block;
	width: 600px;
	margin: auto;
	font-size: 18px;
	clear: both;
}
.reg-form .inner-wrapper span {
	display: inline-block;
	width: 200px;
	margin: auto;
	text-align: left;
}
.reg-form input[type="submit"] {
	margin-top: 20px;
}
.reg-form hr {
	position: relative;
	top: 10px;
	border: none;
	border-top: 1px solid #bcbcbc;
	clear: both;
}
.reg-form .affiliation-list {
}
.reg-form .affiliation-list span {
  display: block;
	width: auto;
}
.reg-form .subject-list {
	margin: 10px 30px;
	padding: 10px 30px;
	background: #f5f5f5;
	border: 1px solid #D2D2D2;
}
.reg-form .subject-list h5 {
	margin: auto;
	margin-bottom: 10px;
	padding: 10px;
	text-align: center;
	color: black;
	border-bottom: 1px solid #D2D2D2;
}
.subject-list span {
	width: 200px;
}
.subject-list label {
	margin: 0;
}
/* Custom Checkboxes */
input[type=checkbox].css-checkbox {
  display:none;
}
input[type=checkbox].css-checkbox + label.css-label {
  padding-left:25px;
  height:20px; 
  display:inline-block;
  line-height:20px;
  background-repeat:no-repeat;
  background-position: 0 1px;
  font-size:20px;
  vertical-align:middle;
  cursor:pointer;
}
input[type=checkbox].css-checkbox:checked + label.css-label {
  background-position: 0 -20px;
}
label.css-label {
  margin-left: 20px;
  background-image:url(../images/checkbox.png);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* ============================================================
  ClientSettings
============================================================ */
.clientSettings .module-body {
	text-align: center;
}
.clientSettings ul {
	margin: 0;
	padding: 0;
	text-align: left;
}
.clientSettings li {
	display: block;
	margin: 0px;
	padding: 8px;
	list-style: none;
	cursor: pointer;
}
.clientSettings #special-permissions li:hover {
	background: #dae6ff;
}
.clientSettings li:not(:last-child) {
	border-bottom: 1px solid #eeeeee;
}
.clientSettings li span {
	display: none;
}
.clientSettings li .selected {
	display: block;
	margin: 10px;
	padding: 10px;
	color: #bed7ef;
	background: #434E66;
	border-left: 5px solid #bed7ef;
}
.clientSettings li .selected:hover {
	
}